@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden

.img-responsive
	display: block
	max-width: 100%
	height: auto

.text-center
	text-align: center

::selection
	background-color: $accent
	color: #fff

ul
	margin: 0
	padding: 0	

.container
	width: 1120px
	margin: 0 auto

.header	
	.header-events
		line-height: 288px		
		color: #333
		font-size: 68px
		font-weight: 800
		text-transform: uppercase	
		text-align: center		
	.header-city	
		height: 50px	
		.header-city__list
			margin-left: 220px
			height: 50px
			display: inline-block
			vertical-align: top
			margin-right: 50px
			li
				display: inline-block
				margin-right: 30px					
				a
					display: block
					text-decoration: none
					color: #333
					box-sizing: border-box
					padding: 0 5px 26px
					font-size: 20px
					font-weight: 400
					line-height: 17px
					&:hover
						border-bottom: 4px solid #487fc0
						color: #487fc0
			.active
				border-bottom: 4px solid #487fc0
				color: #487fc0		
		.header-city__date
			display: inline-block
			vertical-align: middle
			height: 50px
			color: #333
			font-size: 20px
			font-weight: 400
			text-decoration: none
			margin-right: 58px
			line-height: 17px
			&:hover
				color: #487fc0
		.header-city__search
			position: relative	
			top: -5px

.content
	background-color: #f8f8f9
	.content-date
		line-height: 215px
		opacity: 0.6
		color: #151525
		font-size: 20px
		font-weight: 400
		text-align: center
	.container
		background-color: #fff
		-webkit-box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.43)
		-moz-box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.43)
		box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.43)
		// padding: 0
		margin-bottom: 10px
		.content-block
			height: 350px
			display: grid
			grid-template: 350px / 384px 416px 320px
			.content-info
				width: 416px
				padding-left: 48px	
				h2
					color: #333
					font-size: 28px
					font-weight: 700
					text-transform: uppercase
					margin: 44px 0 20px
					line-height: 1
				p
					color: #666
					width: 312px
					font-size: 18px
					font-weight: light
					line-height: 24px
					margin: 0
					margin-bottom: 27px
				.content-social
					a
						display: inline-block
						margin-right: 12px
						&:last-child
							margin-right: 0
			.content-time
				border-left: 1px solid #e6e8e9					
				padding-left: 44px	
				ul
					margin: 75px 0 45px
					li
						padding-left: 50px
						list-style-type: none
						color: #333
						font-size: 18px
						font-weight: 400
						line-height: 44px
						position: relative
						img
							position: absolute
							left: 0	
							top: 50%
							transform: translate(0, -50%)
						.img_center
							transform: translate(4px, -50%)					
				a
					display: inline-block
					padding: 0 48px
					background-color: black				
					border-radius: 3px
					border: 2px solid #151525					
					color: #fff
					font-size: 18px
					font-weight: 500
					line-height: 46px
					text-align: center
					margin: 0
					text-decoration: none
					&:hover
						background-color: #fff
						color: black
				


@import "media" // Всегда в конце
